body{
    background-color: darkgrey;
}

.homeApp{
    text-align: center;
    background-color: darkgrey;
}

.footer1{
    margin: auto 0;
    height: auto;
    background-color: darkgrey;
    flex-shrink: 0;
}

.searchbutton{
    background-color: whitesmoke;
    text-align: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resultnotfountbutton{
    background-color: whitesmoke;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}